/*	TBar
	================================================
	div#pulsar-tbar
		div#pulsar-tbar-menu
			button#pulsar-tbar-menu-toggle
			div
		span#pulsar-tbar-rubbish
		div#pulsar-tbar-items
			button
	================================================ */

	div#pulsar-tbar>* {
		display: inline-block;
	}
	div#pulsar-tbar>div#pulsar-tbar-menu {
		display: inline-block;
		outline: none;
	}
	div#pulsar-tbar>span#pulsar-tbar-rubbish {
		display: inline-block;
	}
	div#pulsar-tbar>div#pulsar-tbar-items {
		display: inline;
	}

/*	TBar Context Menu
	================================================
	================================================ */

	div.pulsar-tbar-popup {
		position: absolute;
		display: flex;
		flex-direction: column;
		background: #eee;
		border: none;
		padding: 0;
		outline: none;
		z-index: 1000;
	}
	div.pulsar-tbar-popup>button {
		display: none;
		border: none;
		padding: 0.25em 0.75em 0.5em;
		--background: red;
		text-align: left;
		font-size: 1.2em;
		width: 100%;
	}
	div.pulsar-tbar-popup>button:hover {
		background-color: #3478F6 !important;
		color: white;
	}

	div.pulsar-tbar-popup.show {
		padding: 2px;
		display: flex;
		border: thin solid #eee;
		box-shadow: 0 0 4px #ddd;
	}
	div.pulsar-tbar-popup.show>button {
		display: block;
	}

/*	TBar Menu
	================================================
	================================================ */

	div#pulsar-tbar div#pulsar-tbar-menu {
		display: inline-block;
		position: relative;
		cursor: default;
	}
	div#pulsar-tbar div#pulsar-tbar-menu>button {
		border: none;
		margin-right: 8px;
		background-color: transparent;
		font-weight: bold;
		font-size: 1.2em;
		white-space: pre;
	}
	div#pulsar-tbar div#pulsar-tbar-menu>div {
		background: white;
		position: absolute;
		z-index: 100;
		border: thin solid #ccc;
		box-shadow: 1px 1px 2px #999;
		display: none;
		cursor: pointer;
		font-size: 1.1em;
	}

	div#pulsar-tbar div#pulsar-tbar-menu>button#pulsar-tbar-menu-toggle.open+div {
		display: block;
	}

/*	TBar Menu Items
	================================================
	================================================ */

	div#pulsar-tbar div#pulsar-tbar-menu>div>button {
		qwidth: 8em;
		width: 100%;
		background: white;
		border: none;
		text-align: left;
		font-size: 1em;
		padding: 0.25em 0.75em;
		white-space: nowrap;
		cursor: default;
	}
	div#pulsar-tbar div#pulsar-tbar-menu>div>button:hover {
		background: #3478F6;
		color: white;
	}

/*	TBar Menu Items
	================================================
	================================================ */

	div#pulsar-tbar {
		background-color: #ddd;
		padding: 2px 0 4px;
	}

	div#pulsar-tbar button {
		cursor: default;
	}
	div#pulsar-tbar button:before {

	}
	div#pulsar-tbar button[data-command^="http://"]:before,
	div#pulsar-tbar button[data-command^="https://"]:before {
		font-family: FontAwesome;
		content: "\F08E\A0";
		color: #3478F6;
	}
	div#pulsar-tbar button[data-command^="file://"]:before {
		font-family: FontAwesome;
		content: "\F15B\A0";
		color: #3478F6;
	}

	div#pulsar-tbar button[data-save] {
		--background-color:  #eee;
		--border: thin solid #999;
		background-color: transparent;
		border: none;
		--border-radius: 2px;
		margin: 1px 0px;
		padding: 2px 8px;
		--box-shadow:
			inset 1px 1px 1px #999,
			inset -1px -1px 2px white;
		white-space: nowrap;
	}
	div#pulsar-tbar button[data-save]:not(:last-of-type) {
		border-right: thin solid #999;
	}
	div#pulsar-tbar button[data-save].dragging {
		opacity: 0.3;
		--outline: thick solid green;
	}
	div#pulsar-tbar button[data-save]:active {
		opacity: 0.1;
		--outline: thick solid green;
	}
	div#pulsar-tbar button[contenteditable="true"],
	div#pulsar-tbar button[contenteditable="plaintext-only"] {
		--outline:  thick solid pink;
		background-color: white;
	}
	div#pulsar-tbar button:hover {
		background-color:  #fff;
		--transform: scale(1.4);
	}
	div#pulsar-tbar span#pulsar-tbar-rubbish,
	div#pulsar-tbar button:not([data-save]) {
		--box-shadow:
			1px 1px 1px #999,
			-1px -1px 2px white;

	}
	div#pulsar-tbar span#pulsar-tbar-rubbish {
		background-color:  #eee;
		background-color: transparent;
		padding: 0.25em 0.75em;
		box-sizing: border-box;
		outline: thin solid #ccc;
	}
	div#pulsar-tbar span#pulsar-tbar-rubbish.enter {
		transform: scale(1.5);
		--outline: thick solid red;
		display: inline-block;
	}
	span {
		--transform: scale(2);
	}
/*	View
	================================================
	<input name="filter" type="text"/>
	<ul id="commands">hahaha</ul>
	<span id="command">
		<input type="text" name="display-name">
		<input type="text" name="name" readonly>
	</span>
	<button name="cancel">Cancel</button>
	<button name="ok">Add</button>
	================================================ */

	div#pulsar-tbar-view {
		background-color: #eee;
		--overflow: scroll;
		--overflow: hidden;
		--max-width: 200px;
	}
	div#pulsar-tbar-view>form {
		qmax-height: 400px;
		display: grid;
		grid-template-rows: auto 200px auto auto;
		grid-template-columns: 6em auto 6em;
		row-gap: 0.25em;
	}
	div#pulsar-tbar-view>form>input[name="filter"] {
		grid-area: 1/1/2/4;
	}
	div#pulsar-tbar-view>form>ul#commands {
		grid-area: 2/1/3/4;
		overflow: scroll;
		margin: 0;
	}
	div#pulsar-tbar-view>form>span#command {
		grid-area: 3/1/4/4;
		margin: 0 0 0.5em 0;
		display: flex;
	}
	div#pulsar-tbar-view>form>span#command>input {
		flex: 1;
		padding: 0.25em 0.5em;
	}
	div#pulsar-tbar-view>form>span#command>input[name="display-name"] {

	}
	div#pulsar-tbar-view>form>span#command>input[name="name"] {
		border: none;
		background-color: #eee;
		padding-left: 1em;
	}
	div#pulsar-tbar-view>form>button[name="ok"] {
		grid-area: 4/3/5/4;
	}
	div#pulsar-tbar-view>form>button[name="cancel"] {
		grid-area: 4/1/5/2;
	}
	div#pulsar-tbar-view>form>ul#commands {
		list-style: none;
		padding: 0;
	}
	div#pulsar-tbar-view>form>ul#commands>li {
		padding: 0.5em 0.5em;
		background-color: white;
		border-bottom: thin solid #999;
		cursor: default;
	}
	div#pulsar-tbar-view>form>ul#commands>li:first-of-type {
		border-top: thin solid #999;
	}
	div#pulsar-tbar-view>form>ul#commands>li:hover {
		background-color: #f0f0f0;
	}
	div#pulsar-tbar-view>form>ul#commands>li>span {
		--pointer-events: none;
	}
	div#pulsar-tbar-view>form>ul#commands>li>span.display-name {

	}
	div#pulsar-tbar-view>form>ul#commands>li>span.display-name:after {
		content: " — "
	}
